USE [master]
GO
/****** Object:  Database [SWAG_DB]    Script Date: 02/05/2026 3:28:47 am ******/
CREATE DATABASE [SWAG_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWAG_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SWAG_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWAG_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SWAG_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWAG_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWAG_DB]
GO
/****** Object:  Table [dbo].[CART_ITEMS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART_ITEMS](
	[cart_item_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[size_id] [smallint] NOT NULL,
	[quantity] [int] NOT NULL,
	[added_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CART_ITEMS] PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CART_USER_PRODUCT_SIZE] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC,
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[category_id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[slug] [nvarchar](100) NOT NULL,
	[icon_url] [nvarchar](500) NULL,
	[display_order] [int] NOT NULL,
 CONSTRAINT [PK_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CATEGORIES_SLUG] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLOR_THEORY_RECOMMENDATIONS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLOR_THEORY_RECOMMENDATIONS](
	[recommendation_id] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[color_hex] [nvarchar](7) NOT NULL,
	[color_name] [nvarchar](100) NULL,
	[sort_order] [tinyint] NOT NULL,
 CONSTRAINT [PK_COLOR_THEORY_RECS] PRIMARY KEY CLUSTERED 
(
	[recommendation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLOR_THEORY_SESSIONS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLOR_THEORY_SESSIONS](
	[session_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[photo_url] [nvarchar](500) NULL,
	[skin_hex] [nvarchar](7) NULL,
	[undertone_id] [tinyint] NULL,
	[palette_id] [tinyint] NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_COLOR_THEORY_SESSIONS] PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONVERSATIONS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONVERSATIONS](
	[convo_id] [uniqueidentifier] NOT NULL,
	[buyer_id] [uniqueidentifier] NOT NULL,
	[seller_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NULL,
	[last_message_at] [datetime2](7) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_CONVERSATIONS] PRIMARY KEY CLUSTERED 
(
	[convo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FASHION_STYLES]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FASHION_STYLES](
	[style_id] [smallint] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](100) NOT NULL,
	[tags] [nvarchar](max) NULL,
 CONSTRAINT [PK_FASHION_STYLES] PRIMARY KEY CLUSTERED 
(
	[style_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FASHION_STYLES_LABEL] UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENDERS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENDERS](
	[gender_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_GENDERS] PRIMARY KEY CLUSTERED 
(
	[gender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GENDERS_LABEL] UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ID_TYPES]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ID_TYPES](
	[id_type_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ID_TYPES] PRIMARY KEY CLUSTERED 
(
	[id_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ID_TYPES_LABEL] UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGES]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGES](
	[message_id] [uniqueidentifier] NOT NULL,
	[convo_id] [uniqueidentifier] NOT NULL,
	[sender_id] [uniqueidentifier] NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[is_read] [bit] NOT NULL,
	[sent_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MESSAGES] PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_ITEMS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ITEMS](
	[order_item_id] [uniqueidentifier] NOT NULL,
	[order_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[size_id] [smallint] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ORDER_ITEMS] PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_STATUSES]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_STATUSES](
	[status_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ORDER_STATUSES] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ORDER_STATUSES_LABEL] UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[order_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[address_id] [uniqueidentifier] NOT NULL,
	[status_id] [tinyint] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[placed_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_IMAGES]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_IMAGES](
	[image_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[is_primary] [bit] NOT NULL,
	[display_order] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_IMAGES] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_MEASUREMENTS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_MEASUREMENTS](
	[product_measurement_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[size_id] [smallint] NOT NULL,
	[garment_type_id] [tinyint] NOT NULL,
	[measurement_name] [nvarchar](50) NOT NULL,
	[value_cm] [decimal](5, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_PRODUCT_MEASUREMENTS] PRIMARY KEY CLUSTERED 
(
	[product_measurement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PM_PRODUCT_SIZE_TYPE_MEAS] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[size_id] ASC,
	[garment_type_id] ASC,
	[measurement_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_SIZE_STOCK]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_SIZE_STOCK](
	[stock_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[size_id] [smallint] NOT NULL,
	[stock_qty] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_SIZE_STOCK] PRIMARY KEY CLUSTERED 
(
	[stock_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PSS_PRODUCT_SIZE] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[product_id] [uniqueidentifier] NOT NULL,
	[category_id] [smallint] NOT NULL,
	[gender_id] [tinyint] NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock_qty] [int] NOT NULL,
	[brand] [nvarchar](100) NULL,
	[color_hex] [nvarchar](7) NULL,
	[color_name] [nvarchar](100) NULL,
	[palette_id] [tinyint] NULL,
	[avg_rating] [decimal](3, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEWS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEWS](
	[review_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_REVIEWS] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_REVIEWS_USER_PRODUCT] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE_GARMENT_MEASUREMENTS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE_GARMENT_MEASUREMENTS](
	[measurement_id] [int] IDENTITY(1,1) NOT NULL,
	[size_id] [smallint] NOT NULL,
	[garment_type_id] [tinyint] NOT NULL,
	[measurement_name] [nvarchar](50) NOT NULL,
	[value_cm] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_SIZE_GARMENT_MEASUREMENTS] PRIMARY KEY CLUSTERED 
(
	[measurement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SGM_SIZE_TYPE_MEAS] UNIQUE NONCLUSTERED 
(
	[size_id] ASC,
	[garment_type_id] ASC,
	[measurement_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE_GARMENT_TYPES]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE_GARMENT_TYPES](
	[garment_type_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SIZE_GARMENT_TYPES] PRIMARY KEY CLUSTERED 
(
	[garment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SGT_LABEL] UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE_STANDARDS]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE_STANDARDS](
	[size_id] [smallint] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](10) NOT NULL,
	[label_local] [nvarchar](20) NULL,
	[chest_cm_min] [decimal](5, 2) NULL,
	[chest_cm_max] [decimal](5, 2) NULL,
	[waist_cm_min] [decimal](5, 2) NULL,
	[waist_cm_max] [decimal](5, 2) NULL,
	[hip_cm_min] [decimal](5, 2) NULL,
	[hip_cm_max] [decimal](5, 2) NULL,
	[height_cm_min] [decimal](5, 2) NULL,
	[height_cm_max] [decimal](5, 2) NULL,
	[weight_kg_min] [decimal](5, 2) NULL,
	[weight_kg_max] [decimal](5, 2) NULL,
	[sort_order] [tinyint] NOT NULL,
 CONSTRAINT [PK_SIZE_STANDARDS] PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SIZE_STANDARDS_LABEL] UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SKIN_TONE_PALETTES]    Script Date: 02/05/2026 3:28:47 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKIN_TONE_PALETTES](
	[palette_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[depth] [nvarchar](20) NOT NULL,
	[undertone] [nvarchar](20) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
 CONSTRAINT [PK_SKIN_TONE_PALETTES] PRIMARY KEY CLUSTERED 
(
	[palette_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PALETTE] UNIQUE NONCLUSTERED 
(
	[depth] ASC,
	[undertone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STYLE_PICKS]    Script Date: 02/05/2026 3:28:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STYLE_PICKS](
	[pick_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[style_id] [smallint] NOT NULL,
	[picked_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_STYLE_PICKS] PRIMARY KEY CLUSTERED 
(
	[pick_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERS]    Script Date: 02/05/2026 3:28:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERS](
	[supplier_id] [uniqueidentifier] NOT NULL,
	[supplier_name] [nvarchar](150) NOT NULL,
	[shop_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[contact_number] [nvarchar](30) NULL,
	[is_active] [bit] NOT NULL,
	[address] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_SUPPLIERS] PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SUPPLIERS_EMAIL] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRYON_SESSIONS]    Script Date: 02/05/2026 3:28:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRYON_SESSIONS](
	[session_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NOT NULL,
	[recommended_size_id] [smallint] NULL,
	[user_photo_url] [nvarchar](500) NULL,
	[result_photo_url] [nvarchar](500) NULL,
	[fit_accuracy_score] [decimal](5, 2) NULL,
	[ai_report] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TRYON_SESSIONS] PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNDERTONES]    Script Date: 02/05/2026 3:28:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNDERTONES](
	[undertone_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_UNDERTONES] PRIMARY KEY CLUSTERED 
(
	[undertone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UNDERTONES_LABEL] UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ADDRESSES]    Script Date: 02/05/2026 3:28:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ADDRESSES](
	[address_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[label] [nvarchar](50) NULL,
	[recipient_name] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[street] [nvarchar](255) NOT NULL,
	[barangay] [nvarchar](100) NULL,
	[city] [nvarchar](100) NOT NULL,
	[province] [nvarchar](100) NULL,
	[region] [nvarchar](100) NULL,
	[postal_code] [nvarchar](10) NULL,
	[is_default] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_USER_ADDRESSES] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_MEASUREMENTS]    Script Date: 02/05/2026 3:28:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_MEASUREMENTS](
	[user_measurement_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[garment_type_id] [tinyint] NOT NULL,
	[measurement_name] [nvarchar](50) NOT NULL,
	[value_cm] [decimal](5, 2) NOT NULL,
	[recorded_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_USER_MEASUREMENTS] PRIMARY KEY CLUSTERED 
(
	[user_measurement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UM_USER_TYPE_MEAS] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[garment_type_id] ASC,
	[measurement_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 02/05/2026 3:28:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[user_id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[id_type_id] [tinyint] NULL,
	[id_number] [nvarchar](100) NULL,
	[profile_photo_url] [nvarchar](500) NULL,
	[style_id] [smallint] NULL,
	[skin_tone_detected] [bit] NOT NULL,
	[skin_hex] [nvarchar](7) NULL,
	[palette_id] [tinyint] NULL,
	[body_chest_cm] [decimal](5, 2) NULL,
	[body_waist_cm] [decimal](5, 2) NULL,
	[body_hip_cm] [decimal](5, 2) NULL,
	[body_height_cm] [decimal](5, 2) NULL,
	[body_weight_kg] [decimal](5, 2) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[is_active] [bit] NOT NULL,
	[is_admin] [bit] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_USERS_EMAIL] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CART_ITEMS] ADD  DEFAULT (newsequentialid()) FOR [cart_item_id]
GO
ALTER TABLE [dbo].[CART_ITEMS] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[CART_ITEMS] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[CATEGORIES] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[COLOR_THEORY_RECOMMENDATIONS] ADD  DEFAULT (newsequentialid()) FOR [recommendation_id]
GO
ALTER TABLE [dbo].[COLOR_THEORY_RECOMMENDATIONS] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[COLOR_THEORY_SESSIONS] ADD  DEFAULT (newsequentialid()) FOR [session_id]
GO
ALTER TABLE [dbo].[COLOR_THEORY_SESSIONS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CONVERSATIONS] ADD  DEFAULT (newsequentialid()) FOR [convo_id]
GO
ALTER TABLE [dbo].[CONVERSATIONS] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  DEFAULT (newsequentialid()) FOR [message_id]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[ORDER_ITEMS] ADD  DEFAULT (newsequentialid()) FOR [order_item_id]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (newsequentialid()) FOR [order_id]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (getdate()) FOR [placed_at]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES] ADD  DEFAULT (newsequentialid()) FOR [image_id]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[PRODUCT_MEASUREMENTS] ADD  DEFAULT (newsequentialid()) FOR [product_measurement_id]
GO
ALTER TABLE [dbo].[PRODUCT_MEASUREMENTS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PRODUCT_SIZE_STOCK] ADD  DEFAULT (newsequentialid()) FOR [stock_id]
GO
ALTER TABLE [dbo].[PRODUCT_SIZE_STOCK] ADD  DEFAULT ((0)) FOR [stock_qty]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT (newsequentialid()) FOR [product_id]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT ((0)) FOR [stock_qty]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT ((0.00)) FOR [avg_rating]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT (CONVERT([datetime2](7), SYSUTCDATETIME() AT TIME ZONE 'UTC' AT TIME ZONE 'Singapore Standard Time')) FOR [created_at]
GO
ALTER TABLE [dbo].[REVIEWS] ADD  DEFAULT (newsequentialid()) FOR [review_id]
GO
ALTER TABLE [dbo].[REVIEWS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[SIZE_STANDARDS] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[STYLE_PICKS] ADD  DEFAULT (newsequentialid()) FOR [pick_id]
GO
ALTER TABLE [dbo].[STYLE_PICKS] ADD  DEFAULT (getdate()) FOR [picked_at]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  DEFAULT (newsequentialid()) FOR [supplier_id]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TRYON_SESSIONS] ADD  DEFAULT (newsequentialid()) FOR [session_id]
GO
ALTER TABLE [dbo].[TRYON_SESSIONS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[USER_ADDRESSES] ADD  DEFAULT (newsequentialid()) FOR [address_id]
GO
ALTER TABLE [dbo].[USER_ADDRESSES] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[USER_ADDRESSES] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[USER_MEASUREMENTS] ADD  DEFAULT (newsequentialid()) FOR [user_measurement_id]
GO
ALTER TABLE [dbo].[USER_MEASUREMENTS] ADD  DEFAULT (getdate()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (newsequentialid()) FOR [user_id]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [skin_tone_detected]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [is_admin]
GO
ALTER TABLE [dbo].[CART_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_CART_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCTS] ([product_id])
GO
ALTER TABLE [dbo].[CART_ITEMS] CHECK CONSTRAINT [FK_CART_PRODUCT]
GO
ALTER TABLE [dbo].[CART_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_CART_SIZE] FOREIGN KEY([size_id])
REFERENCES [dbo].[SIZE_STANDARDS] ([size_id])
GO
ALTER TABLE [dbo].[CART_ITEMS] CHECK CONSTRAINT [FK_CART_SIZE]
GO
ALTER TABLE [dbo].[CART_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_CART_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[CART_ITEMS] CHECK CONSTRAINT [FK_CART_USER]
GO
ALTER TABLE [dbo].[COLOR_THEORY_RECOMMENDATIONS]  WITH CHECK ADD  CONSTRAINT [FK_CTR_SESSION] FOREIGN KEY([session_id])
REFERENCES [dbo].[COLOR_THEORY_SESSIONS] ([session_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COLOR_THEORY_RECOMMENDATIONS] CHECK CONSTRAINT [FK_CTR_SESSION]
GO
ALTER TABLE [dbo].[COLOR_THEORY_SESSIONS]  WITH CHECK ADD  CONSTRAINT [FK_CTS_PALETTE] FOREIGN KEY([palette_id])
REFERENCES [dbo].[SKIN_TONE_PALETTES] ([palette_id])
GO
ALTER TABLE [dbo].[COLOR_THEORY_SESSIONS] CHECK CONSTRAINT [FK_CTS_PALETTE]
GO
ALTER TABLE [dbo].[COLOR_THEORY_SESSIONS]  WITH CHECK ADD  CONSTRAINT [FK_CTS_UNDERTONE] FOREIGN KEY([undertone_id])
REFERENCES [dbo].[UNDERTONES] ([undertone_id])
GO
ALTER TABLE [dbo].[COLOR_THEORY_SESSIONS] CHECK CONSTRAINT [FK_CTS_UNDERTONE]
GO
ALTER TABLE [dbo].[COLOR_THEORY_SESSIONS]  WITH CHECK ADD  CONSTRAINT [FK_CTS_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[COLOR_THEORY_SESSIONS] CHECK CONSTRAINT [FK_CTS_USER]
GO
ALTER TABLE [dbo].[CONVERSATIONS]  WITH CHECK ADD  CONSTRAINT [FK_CONVO_BUYER] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[CONVERSATIONS] CHECK CONSTRAINT [FK_CONVO_BUYER]
GO
ALTER TABLE [dbo].[CONVERSATIONS]  WITH CHECK ADD  CONSTRAINT [FK_CONVO_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCTS] ([product_id])
GO
ALTER TABLE [dbo].[CONVERSATIONS] CHECK CONSTRAINT [FK_CONVO_PRODUCT]
GO
ALTER TABLE [dbo].[CONVERSATIONS]  WITH CHECK ADD  CONSTRAINT [FK_CONVO_SELLER] FOREIGN KEY([seller_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[CONVERSATIONS] CHECK CONSTRAINT [FK_CONVO_SELLER]
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGES_CONVO] FOREIGN KEY([convo_id])
REFERENCES [dbo].[CONVERSATIONS] ([convo_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MESSAGES] CHECK CONSTRAINT [FK_MESSAGES_CONVO]
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGES_SENDER] FOREIGN KEY([sender_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[MESSAGES] CHECK CONSTRAINT [FK_MESSAGES_SENDER]
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEMS_ORDER] FOREIGN KEY([order_id])
REFERENCES [dbo].[ORDERS] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDER_ITEMS] CHECK CONSTRAINT [FK_ORDER_ITEMS_ORDER]
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEMS_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCTS] ([product_id])
GO
ALTER TABLE [dbo].[ORDER_ITEMS] CHECK CONSTRAINT [FK_ORDER_ITEMS_PRODUCT]
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEMS_SIZE] FOREIGN KEY([size_id])
REFERENCES [dbo].[SIZE_STANDARDS] ([size_id])
GO
ALTER TABLE [dbo].[ORDER_ITEMS] CHECK CONSTRAINT [FK_ORDER_ITEMS_SIZE]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_ADDRESS] FOREIGN KEY([address_id])
REFERENCES [dbo].[USER_ADDRESSES] ([address_id])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_ADDRESS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_STATUS] FOREIGN KEY([status_id])
REFERENCES [dbo].[ORDER_STATUSES] ([status_id])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_STATUS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_USER]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_IMAGES_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCTS] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES] CHECK CONSTRAINT [FK_PRODUCT_IMAGES_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT_MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PM_GARMENT_TYPE] FOREIGN KEY([garment_type_id])
REFERENCES [dbo].[SIZE_GARMENT_TYPES] ([garment_type_id])
GO
ALTER TABLE [dbo].[PRODUCT_MEASUREMENTS] CHECK CONSTRAINT [FK_PM_GARMENT_TYPE]
GO
ALTER TABLE [dbo].[PRODUCT_MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PM_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCTS] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT_MEASUREMENTS] CHECK CONSTRAINT [FK_PM_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT_MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PM_SIZE] FOREIGN KEY([size_id])
REFERENCES [dbo].[SIZE_STANDARDS] ([size_id])
GO
ALTER TABLE [dbo].[PRODUCT_MEASUREMENTS] CHECK CONSTRAINT [FK_PM_SIZE]
GO
ALTER TABLE [dbo].[PRODUCT_SIZE_STOCK]  WITH CHECK ADD  CONSTRAINT [FK_PSS_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCTS] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT_SIZE_STOCK] CHECK CONSTRAINT [FK_PSS_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT_SIZE_STOCK]  WITH CHECK ADD  CONSTRAINT [FK_PSS_SIZE] FOREIGN KEY([size_id])
REFERENCES [dbo].[SIZE_STANDARDS] ([size_id])
GO
ALTER TABLE [dbo].[PRODUCT_SIZE_STOCK] CHECK CONSTRAINT [FK_PSS_SIZE]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_CATEGORY] FOREIGN KEY([category_id])
REFERENCES [dbo].[CATEGORIES] ([category_id])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_CATEGORY]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_GENDER] FOREIGN KEY([gender_id])
REFERENCES [dbo].[GENDERS] ([gender_id])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_GENDER]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_PALETTE] FOREIGN KEY([palette_id])
REFERENCES [dbo].[SKIN_TONE_PALETTES] ([palette_id])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_PALETTE]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_REVIEWS_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCTS] ([product_id])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_REVIEWS_PRODUCT]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_REVIEWS_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_REVIEWS_USER]
GO
ALTER TABLE [dbo].[SIZE_GARMENT_MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [FK_SGM_GARMENT_TYPE] FOREIGN KEY([garment_type_id])
REFERENCES [dbo].[SIZE_GARMENT_TYPES] ([garment_type_id])
GO
ALTER TABLE [dbo].[SIZE_GARMENT_MEASUREMENTS] CHECK CONSTRAINT [FK_SGM_GARMENT_TYPE]
GO
ALTER TABLE [dbo].[SIZE_GARMENT_MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [FK_SGM_SIZE] FOREIGN KEY([size_id])
REFERENCES [dbo].[SIZE_STANDARDS] ([size_id])
GO
ALTER TABLE [dbo].[SIZE_GARMENT_MEASUREMENTS] CHECK CONSTRAINT [FK_SGM_SIZE]
GO
ALTER TABLE [dbo].[STYLE_PICKS]  WITH CHECK ADD  CONSTRAINT [FK_STYLE_PICKS_STYLE] FOREIGN KEY([style_id])
REFERENCES [dbo].[FASHION_STYLES] ([style_id])
GO
ALTER TABLE [dbo].[STYLE_PICKS] CHECK CONSTRAINT [FK_STYLE_PICKS_STYLE]
GO
ALTER TABLE [dbo].[STYLE_PICKS]  WITH CHECK ADD  CONSTRAINT [FK_STYLE_PICKS_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[STYLE_PICKS] CHECK CONSTRAINT [FK_STYLE_PICKS_USER]
GO
ALTER TABLE [dbo].[TRYON_SESSIONS]  WITH CHECK ADD  CONSTRAINT [FK_TRYON_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCTS] ([product_id])
GO
ALTER TABLE [dbo].[TRYON_SESSIONS] CHECK CONSTRAINT [FK_TRYON_PRODUCT]
GO
ALTER TABLE [dbo].[TRYON_SESSIONS]  WITH CHECK ADD  CONSTRAINT [FK_TRYON_REC_SIZE] FOREIGN KEY([recommended_size_id])
REFERENCES [dbo].[SIZE_STANDARDS] ([size_id])
GO
ALTER TABLE [dbo].[TRYON_SESSIONS] CHECK CONSTRAINT [FK_TRYON_REC_SIZE]
GO
ALTER TABLE [dbo].[TRYON_SESSIONS]  WITH CHECK ADD  CONSTRAINT [FK_TRYON_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[TRYON_SESSIONS] CHECK CONSTRAINT [FK_TRYON_USER]
GO
ALTER TABLE [dbo].[USER_ADDRESSES]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESSES_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_ADDRESSES] CHECK CONSTRAINT [FK_ADDRESSES_USER]
GO
ALTER TABLE [dbo].[USER_MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [FK_UM_GARMENT_TYPE] FOREIGN KEY([garment_type_id])
REFERENCES [dbo].[SIZE_GARMENT_TYPES] ([garment_type_id])
GO
ALTER TABLE [dbo].[USER_MEASUREMENTS] CHECK CONSTRAINT [FK_UM_GARMENT_TYPE]
GO
ALTER TABLE [dbo].[USER_MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [FK_UM_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_MEASUREMENTS] CHECK CONSTRAINT [FK_UM_USER]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_ID_TYPE] FOREIGN KEY([id_type_id])
REFERENCES [dbo].[ID_TYPES] ([id_type_id])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_ID_TYPE]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_PALETTE] FOREIGN KEY([palette_id])
REFERENCES [dbo].[SKIN_TONE_PALETTES] ([palette_id])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_PALETTE]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_STYLE] FOREIGN KEY([style_id])
REFERENCES [dbo].[FASHION_STYLES] ([style_id])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_STYLE]
GO
ALTER TABLE [dbo].[CART_ITEMS]  WITH CHECK ADD  CONSTRAINT [CHK_CART_QTY] CHECK  (([quantity]>=(1)))
GO
ALTER TABLE [dbo].[CART_ITEMS] CHECK CONSTRAINT [CHK_CART_QTY]
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [CHK_ORDER_ITEMS_PRICE] CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[ORDER_ITEMS] CHECK CONSTRAINT [CHK_ORDER_ITEMS_PRICE]
GO
ALTER TABLE [dbo].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [CHK_ORDER_ITEMS_QTY] CHECK  (([quantity]>=(1)))
GO
ALTER TABLE [dbo].[ORDER_ITEMS] CHECK CONSTRAINT [CHK_ORDER_ITEMS_QTY]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [CHK_ORDERS_AMOUNT] CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [CHK_ORDERS_AMOUNT]
GO
ALTER TABLE [dbo].[PRODUCT_MEASUREMENTS]  WITH CHECK ADD  CONSTRAINT [CHK_PM_VALUE] CHECK  (([value_cm]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCT_MEASUREMENTS] CHECK CONSTRAINT [CHK_PM_VALUE]
GO
ALTER TABLE [dbo].[PRODUCT_SIZE_STOCK]  WITH CHECK ADD  CONSTRAINT [CHK_PSS_QTY] CHECK  (([stock_qty]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCT_SIZE_STOCK] CHECK CONSTRAINT [CHK_PSS_QTY]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [CHK_PRODUCTS_PRICE] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [CHK_PRODUCTS_PRICE]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [CHK_PRODUCTS_RATING] CHECK  (([avg_rating]>=(0.00) AND [avg_rating]<=(5.00)))
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [CHK_PRODUCTS_RATING]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [CHK_REVIEWS_RATING] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [CHK_REVIEWS_RATING]
GO
ALTER TABLE [dbo].[TRYON_SESSIONS]  WITH CHECK ADD  CONSTRAINT [CHK_TRYON_FIT_SCORE] CHECK  (([fit_accuracy_score]>=(0.00) AND [fit_accuracy_score]<=(100.00)))
GO
ALTER TABLE [dbo].[TRYON_SESSIONS] CHECK CONSTRAINT [CHK_TRYON_FIT_SCORE]
GO
USE [master]
GO

